# production object storage credentials for kaede
S3_ACCESS_KEY_ID=kaede-production
S3_SECRET_ACCESS_KEY=change_me_production_kaede_secret_key
NOZOMI_INTERNAL_ENDPOINT=http://nozomi:8000
KAEDE_INTERNAL_BASE_URL=http://kaede:8080
CALLBACK_TOKEN_SECRET=change_me_production_callback_secret
