# staging application runtime
APP_ENV=staging

# staging postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=okarin_staging
POSTGRES_USER=okarin_staging
POSTGRES_PASSWORD=change_me_staging_postgres_password

# staging object storage (seaweedfs s3 api)
S3_ENDPOINT=http://seaweedfs:8333
S3_REGION=ap-northeast-1
S3_BUCKET=okarin-staging
S3_ACCESS_KEY_ID=change_me_staging_access_key
S3_SECRET_ACCESS_KEY=change_me_staging_secret_key
