{
  "identities": [
    {
      "name": "okarin-local-kaede",
      "credentials": [
        {
          "accessKey": "kaede-local",
          "secretKey": "change_me_local_kaede_secret_key"
        }
      ],
      "actions": [
        "Read",
        "Write",
        "List"
      ]
    },
    {
      "name": "okarin-local-storage-bootstrap",
      "credentials": [
        {
          "accessKey": "storage-bootstrap-local",
          "secretKey": "change_me_local_storage_bootstrap_secret_key"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write",
        "List"
      ]
    }
  ]
}
