{
  "identities": [
    {
      "name": "okarin-local-app",
      "credentials": [
        {
          "accessKey": "change_me_local_access_key",
          "secretKey": "change_me_local_secret_key"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write",
        "List",
        "Tagging"
      ]
    }
  ]
}
