{
  "identities": [
    {
      "name": "okarin-production-kaede",
      "credentials": [
        {
          "accessKey": "kaede-production",
          "secretKey": "change_me_production_kaede_secret_key"
        }
      ],
      "actions": [
        "Read",
        "Write",
        "List"
      ]
    },
    {
      "name": "okarin-production-storage-bootstrap",
      "credentials": [
        {
          "accessKey": "storage-bootstrap-production",
          "secretKey": "change_me_production_storage_bootstrap_secret_key"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write",
        "List"
      ]
    }
  ]
}
