# staging application runtime
APP_ENV=staging

# use managed db in staging
POSTGRES_HOST=replace-with-staging-db-host
POSTGRES_PORT=5432
POSTGRES_DB=replace-with-staging-db
POSTGRES_USER=replace-with-staging-user
POSTGRES_PASSWORD=replace-with-staging-password

# use managed object storage in staging
S3_ENDPOINT=https://s3.ap-northeast-1.amazonaws.com
S3_REGION=ap-northeast-1
S3_BUCKET=replace-with-staging-bucket
S3_ACCESS_KEY_ID=replace-with-staging-access-key
S3_SECRET_ACCESS_KEY=replace-with-staging-secret-key
